{% extends 'system/base.html' %}
{% load widget_tweaks %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-4">
                    <h4 class="mb-4 text-center fw-bold text-primary">
                        <i class="fa fa-calendar-plus"></i> {{ title }}
                    </h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form.customer|add_class:"form-select" }}
                                    <label for="id_customer">Customer</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form.branch|add_class:"form-select" }}
                                    <label for="id_branch">Branch</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form.service|add_class:"form-select" }}
                                    <label for="id_service">Service</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form.employee|add_class:"form-select" }}
                                    <label for="id_employee">Employee</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form.date_time|add_class:"form-control" }}
                                    <label for="id_date_time">Date & Time</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form.status|add_class:"form-select" }}
                                    <label for="id_status">Status</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-gradient w-100 mt-4 py-2 fw-semibold shadow-sm">
                            <i class="fa fa-save"></i> Save Appointment
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
